#contact-form {
  width: 80%;
  margin: 1px 50px;
  padding: 5px 0;
}

#contact-form input,
#contact-form textarea {
  display: block;
  width: 300px;
  height: 10px;
  padding: 5px;
  border: blue;
}

#contact-form label {
  font-size: 16px;
}

#contact-form textarea {
  width: 400px;
  height: 100px;
  border: solid 1px blue;
}
#contact-form hr {
  border: solid 1px blue;
  width: 300px;
}
.button {
  padding-left: 305px;
}

.error {
  color: red;
  font-size: 10px;
}

.error-block {
  border: 1px solid red;
}
